@startuml
'https://raphael-leger.medium.com/automatically-generating-up-to-date-database-diagrams-with-typeorm-d1279a20545e

skinparam class {
    BackgroundColor #eef4f4
}

!define primary_key(x) <b><color:#0fbebe><&key></color> x</b>
!define foreign_key(x) <color:#aaaaaa><&key></color> x
!define column(x) <color:#efefef><&media-record></color> x
!define table(name, desc) class name as "desc" << (T,#aafdcf) >>
!define comment(x) <color:#1b1cbf>x</color>
!define type(x) <color:#fa5410>x</color>

hide methods
hide stereotypes

{{ range .Tables }}
table( {{ .Name }}, {{ .Name }}{{ if .Comment }}\n({{ .Comment }}) {{- end }} ) {
    {{- range .Columns }}
    {{- if .IsPrimaryKey }}
    primary_key( {{ .Name }} ): type( {{ .Type }} ) {{ if .Comment }} comment( {{ .Comment }} ) {{ end }}
    {{- else }}
    column( {{ .Name }} ): type( {{ .Type }} ) {{ if .Comment }} comment( {{ .Comment }} ) {{ end }}
    {{- end }}
    {{- end }}
}
{{ end }}

{{ range $r := .Relationship -}}
{{- range $r.RelationTables -}}
"{{ $r.TableName }}" "id" -- "{{ .Column }}" "{{ .TableName }}"
{{ end }}
{{- end }}

@enduml